@use "@/styles/variables";
@use "@/styles/typography";

.container {
  position: absolute;
  top: 480px;
  left: 50%;
  z-index: 10;
  width: 536px;
  height: 530px;
  transform: translate(-50%, -50%);

  @media (width < variables.$desktop) {
    display: none;
  }
}

.circle {
  position: relative;
  width: 100%;
  height: 100%;
  border: 1px solid rgba(variables.$color-dark-blue, 0.1);
  border-radius: 50%;
}

.pointWrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.pointContainer {
  position: absolute;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 56px;
  height: 56px;
  cursor: pointer;
  transform: translate(-50%, -50%);

  &::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    background: transparent;
    border-radius: 50%;
  }

  &:hover .point,
  .pointActive {
    width: 56px;
    height: 56px;
    background-color: variables.$color-background-gray;
    border-color: rgba(variables.$color-dark-blue, 0.5);

    span {
      opacity: 1;
    }
  }
}

.point {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 6px;
  height: 6px;
  overflow: hidden;
  background-color: variables.$color-dark-blue;
  border: 1px solid transparent;
  border-radius: 50%;
  transition: 
    width 0.3s ease, 
    height 0.3s ease, 
    background-color 0.3s ease, 
    border-color 0.3s ease;

  span {
    @include typography.paragraph;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease;
  }

  &.active {
    width: 56px;
    height: 56px;
    background-color: variables.$color-background-gray;
    border-color: rgba(variables.$color-dark-blue, 0.5);

    span {
      opacity: 1;
    }
  }
}

.title {
  @include typography.type;

  position: absolute;
  left: 76px;
  pointer-events: none;
  white-space: nowrap;
  opacity: 0;
}