@use "@/styles/variables";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
  background-color: transparent;
  flex-shrink: 0;
  border-radius: 50%;
  overflow: hidden;

  svg {
    display: block;
    fill: none;
    flex-shrink: 0;
    width: auto !important; 

    path {
      stroke: currentcolor;
      vector-effect: non-scaling-stroke; 
    }
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  border: 1px solid variables.$color-dark-blue;
  color: variables.$color-dark-blue;

  &:hover:not(:disabled) {
    background-color: variables.$color-white;
  }

  &:disabled {
    border-color: rgba(variables.$color-dark-blue, 0.4);
    color: rgba(variables.$color-dark-blue, 0.4);
  }
}

.secondary {
  border: none;
  background-color: variables.$color-white;
  box-shadow: 0 0 15px rgb(56 119 238 / 10%);
  color: variables.$color-blue;
}

.sizeM {
  width: 25px;
  height: 25px;

  @media (width >= variables.$desktop) {
    width: 50px;
    height: 50px;
  }
}

.sizeS {
  width: 25px;
  height: 25px;

  @media (width >= variables.$desktop) {
    width: 40px;
    height: 40px;
  }
}

.iconOnly {
  svg {
    height: 6px;

    @media (width >= variables.$desktop) {
      height: 12px;
    }
    
    path {
      stroke-width: 2; 
    }
  }
}