@use "@/styles/variables";

.button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.3s ease;
  padding: 0;
  background-color: transparent;

  svg {
    transition: color 0.3s ease;
    fill: none;
  }

  &:disabled {
    cursor: not-allowed;
  }
}

.primary {
  border: 1px solid variables.$color-dark-blue;
  border-radius: 50%;
  background-color: transparent;

  svg {
    color: variables.$color-dark-blue;
  }

  &:hover:not(:disabled) {
    background-color: variables.$color-white;
    opacity: 0.8; 
  }

  &:disabled {
    border-color: variables.$color-gray;

    svg {
      color: variables.$color-gray;
    }
  }
}

.secondary {
  border: none;
  border-radius: 50%;
  background-color: variables.$color-white;
  box-shadow: 0 0 15px rgb(56 119 238 / 10%);

  svg {
    color: variables.$color-blue;
  }
}

.sizeM {
  width: 25px;
  height: 25px;

  @media (min-width: variables.$desktop) {
    width: 50px;
    height: 50px;
  }
}

.sizeS {
  width: 25px;
  height: 25px;

  @media (min-width: variables.$desktop) {
    width: 40px;
    height: 40px;
  }
}

.iconOnly {
  svg {
    width: 3px;
    height: 6px;

    @media (min-width: variables.$desktop) {
      width: 7px;
      height: 12px;
    }
  }
}