@font-face {
  font-family: 'Bebas Neue';
  src: url('../assets/fonts/bebas-neue/bebas-neue-v16-latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/pt-sans/pt-sans-v18-cyrillic_latin-regular.woff2') format('woff2');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'PT Sans';
  src: url('../assets/fonts/pt-sans/pt-sans-v18-cyrillic_latin-700.woff2') format('woff2');
  font-weight: 700;
  font-style: normal;
}