@use "fonts";
@use "variables";

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'PT Sans', sans-serif;
  background-color: variables.$color-background-gray;
  color: variables.$color-dark-blue;
}

h1, h2, h3, h4, h5, h6 {
  margin: 0;
  padding: 0;
  line-height: 1;
}