@use "@/styles/variables";
@use "@/styles/typography";

.pageContainer {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
}

.wrapper {
  position: relative;
  z-index: 1;
  width: 100%;
  min-height: 100vh;
  margin: 0 auto;
  overflow: hidden;

  @media (width >= variables.$desktop) {
    max-width: 1440px;
    margin-right: 160px;
    margin-left: auto;
    border-right: 1px solid rgba(variables.$color-dark-blue, 0.1);
    border-left: 1px solid rgba(variables.$color-dark-blue, 0.1);
  }

  &::before {
    @media (width >= variables.$desktop) {
      content: "";
      position: absolute;
      top: 0;
      left: 50%;
      z-index: 0;
      width: 1px;
      height: 100%;
      background-color: rgba(variables.$color-dark-blue, 0.1);
    }
  }

  &::after {
    @media (width >= variables.$desktop) {
      content: "";
      position: absolute;
      top: 480px;
      left: 0;
      z-index: 0;
      width: 100%;
      height: 1px;
      background-color: rgba(variables.$color-dark-blue, 0.1);
    }
  }
}

.titleWrapper {
  position: relative;
  z-index: 10;
  padding-top: 59px;
  padding-left: 20px;

  @media (width >= variables.$desktop) {
    padding-top: 170px;
    padding-left: 80px;
  }
}

.title {
  @include typography.title;

  position: relative;
  margin: 0;
  line-height: 1.1; 
}

.gradientLine {
  display: none;

  @media (width >= variables.$desktop) {
    display: block;
    position: absolute;
    top: 170px;
    left: 0;
    z-index: 11;
    width: 5px;
    height: 120px;
    background: linear-gradient(
      variables.$color-year-blue,
      variables.$color-year-pink
    );
  }
}

.content {
  position: relative;
  z-index: 5;
  width: 100%;
}